@import "tailwindcss";



@font-face {
  font-family: 'retro';
  src: url('/fonts/retro-gramophone.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Retrosome';
  src: url('/fonts/retrosome.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'belgan';
  src: url('/fonts/modern-aesthetic-demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'modern';
  src: url('/fonts/belgan-aesthetic.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'neuro';
  src: url('/fonts/neuropol.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'milksea';
  src: url('/fonts/milksea.demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'nolinga';
  src: url('/fonts/nolinga.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Default: Dark Mode */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Light mode (if user explicitly prefers it) */
@media (prefers-color-scheme: light) {
  :root {
    /* --background: #ffffff; */
    --background: #c3bbb3;
    --foreground: #171717;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Retrosome', sans-serif;
  font-family: 'retro', sans-serif;
  font-family: 'milksea', sans-serif;
  font-family: 'belgan', sans-serif;
  font-family: 'modern', sans-serif;
  font-family: 'neuro', sans-serif;
  font-family: 'nolinga', sans-serif;
}


@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

html {
  scroll-behavior: smooth;
}



.button-shine {
  position: relative;
  overflow: hidden;
}

.button-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}

.button-shine:hover::before {
  animation: shine 1s ease forwards;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
